# SPDX-FileCopyrightText: 2022 Astrea Wang
#
# SPDX-License-Identifier: GPL-3.0-or-later

# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# binary file
.vscode/
.idea/
.cache/
obj-x86_64-linux-gnu/
build*/
*.pro.user*
CMakeLists.txt.user*
*.DS_Store
*.qm
.directory
debian/.debhelper
debian/aspace